body {
  background-color: #010409;
  color: #FFFFFF;
  font-family: 'Commissioner';
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.userGreeting {
  text-align: left;
  margin-left: 1rem;
  margin-right: 5rem;
}

header {
  justify-content: space-between;
  width: auto;
  height: auto;
  border-bottom: 1px solid #30363D;
  display: flex;
  align-items: center;
  position: relative;
}

header input {
  margin-left: 5rem;
  margin-right: 5rem;
}

.profileDropdown {
  position: relative;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  padding: 10px;
  z-index: 2;
  margin-top: 10px;
}

.dropdownContent input {
  margin: 0;
}

.mainContent {
  display: flex;
  flex: 1;
}

.leftMenu {
  height: 100%;
  width: 5rem;
  background-color: #0D1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #30363D;
  transition: width 0.4s;
  position: fixed;
  left: 0;
  z-index: 1;
}

.leftMenu.expanded {
  width: 20rem;
}

.menuIcon, .menuIconHeader, svg {
  font-size: 2rem;
  color: white;
  height: 2rem;
  width: 2rem;
}

svg {
  margin: auto;
}

.menuIcon {
  margin-top: 1rem;
  border-radius: 16px;
  border: 1px solid #30363D;
  background: #161B22;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s all;
}

.menuIcon:hover {
  border: 2px solid skyblue;
}

.menuIconHeader {
  border-radius: 16px;
  border: 1px solid #30363D;
  background: #161B22;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 1rem;
  transition: 1s all;
}

.menuIconHeader:hover {
  border: 2px solid skyblue;
}

.taskName {
  height: 1rem;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

.enterName {
  height: 1rem;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
  margin: auto 0;
}

.addTask {
  height: 3.5rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #161B22;
  border-radius: 16px;
  border: 1px solid #30363D;
  color: white;
}

.inputHolders {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35rem;
  margin: 3rem auto;
}

ul {
  margin-top: 3rem;
  padding: 0;
  list-style-type: none;
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #161B22;
  border-radius: 1.2rem;
  cursor: pointer;
}

.sideMenuContent {
  padding: 1rem;
  color: white;
}

.menuSection {
  margin: 1rem 0;
  text-align: left;
  width: 100%;
}

.menuSection h2 {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.menuItem {
  background-color: #161B22;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
  padding: 1rem;
}

.menuToggleIcon {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuToggleIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menuToggleIcon span:nth-child(1) {
  top: 0;
}

.menuToggleIcon span:nth-child(2) {
  top: 10px;
}

.menuToggleIcon span:nth-child(3) {
  top: 20px;
}

.menuToggleIcon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.menuToggleIcon.open span:nth-child(2) {
  opacity: 0;
}

.menuToggleIcon.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}

.content {
  margin-left: 5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.importance {
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  width: 8rem;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
}
