body {
  background-color: #010409;
  color: #FFFFFF;
  font-family: 'Commissioner';
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.userGreeting {
  text-align: left;
  margin-left: 1rem;
  margin-right: 5rem;
}

header {
  justify-content: space-between;
  width: auto;
  height: auto;
  border-bottom: 1px solid #30363D;
  display: flex;
}

header input {
  margin-left: 5rem;
  margin-right: 5rem;
}

.inputHolders {
  display: flex;
  width: 35rem;
  margin: 0 auto;
  padding-top: 3rem;
}

.importance {
  height: 1rem;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  width: 8rem;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

.leftMenu {
  height: 91vh;
  width: 5rem;
  background-color: #0D1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #30363D;
  transition: width 0.4s;
}

.leftMenu.expanded {
  width: 20rem; /* Adjust width as needed */
}

.menuIcon, .menuIconHeader, svg {
  font-size: 2rem;
  color: white;
  height: 2rem;
  width: 2rem;
}

svg {
  margin-left: 1rem;
}

.menuIcon {
  margin-top: 1rem;
  border-radius: 16px;
  border: 1px solid #30363D;
  background: #161B22;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuIconHeader {
  border-radius: 16px;
  border: 1px solid #30363D;
  background: #161B22;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 1rem;
  transition: 1s all;
}

.menuIconHeader:hover {
  border: 2px solid skyblue;
}

.taskName {
  height: 1rem;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

.enterName {
  height: 1rem;
  background-color: #0D1117;
  border: 1px solid #30363D;
  border-radius: 1.2rem;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
  margin: auto 0;
}

button {
  height: 3.5rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex: 1;
}

.sideMenuContent {
  padding: 1rem;
  color: white;
}

.menuSection {
  margin: 1rem 0;
  text-align: left;
  width: 100%;
}

.menuSection h2 {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.menuItem {
  background-color: #161B22;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
  padding: 1rem;
}
